[user]
	name = Noah Settersten
	email = noah.settersten@planningcenter.com
[branch]
  autosetuprebase = always
[core]
	pager = delta
[init]
	templatedir = ~/.git_template
	defaultBranch = main
[delta]
    plus-style = "syntax #012800"
    minus-style = "syntax #340001"
    syntax-theme = zenburn
    plus-style = syntax bold "#134008"
    navigate = true
[push]
    default = current
[merge]
    ff = false
[pull]
    rebase = true
# [rebase]
    # autosquash = true
[alias]
    cp = cherry-pick
[tig]
  history-size = 0
