# https://helix-editor.vercel.app/reference/formatters#json
# [language.config.completion.snippets.custom.abbrev]
# note = "# NOTE: (%Y-%m-%d) Noah Settersten =>"

[[language]]
name = "json"
formatter = { command = "jq", args = ["."] }
auto-format = true

[[language]]
name = "javascript"
formatter = { command = 'prettier', args = ["--parser", "typescript"] }
auto-format = true

[[language]]
name = "typescript"
formatter = { command = 'prettier', args = ["--parser", "typescript"] }
auto-format = true

[[language]]
name = "tsx"
formatter = { command = 'prettier', args = ["--parser", "typescript"] }
auto-format = true

[language-server.rubocop]
command = "bundle"
args = ["exec", "rubocop", "--lsp"]

[[language]]
name = "ruby"
language-servers = [ { name = "ruby-lsp", except-features=["diagnostics"] }, { name = "rubocop", only-features=["diagnostics"] } ]
formatter = { command = "bundle", args = ["exec", "stree", "format", "--print-width=100", "--plugins=plugin/trailing_comma"] }
auto-format = true

[language-server.herb]
command = "yarn"
args = ["exec", "herb-language-server", "--", "--stdio"]

[[language]]
name = "erb"
language-servers = ["herb"]
file-types = ["erb", "html.erb"]
roots = ["Gemfile", "package.json"]
